In a second Jupyter notebook called Parking.ipynb, analyze whether illegal parking incidents are a larger fraction of total 311 incidents in your ZIP code than they are in general. Specifically, compute the total number of parking incidents in your ZIP, and the total number of all incidents -- is this fraction greater than or smaller than the total fraction of parking incidents across all ZIP codes? Your answer should be in the form of a single bool called `higher_parking_proportion` which is True if your ZIP contains a higher proportion of parking incidents than the global value, and False otherwise. For instance, if there were 200 parking incidents in your ZIP, and 1000 total incidents in your ZIP, a rate of 20%, but the global parking incident rate was 3000 parking incidents out of 10000 total, a ratio of 30%, you would assign higher_parking_proportion = False.

The entirety of your notebooks must run successfully. Do not include any cells which raise errors.

In [1]:
import numpy as np
import pandas as pd

In [2]:
datafile = "311_Service_Requests_2020.csv"
df = pd.read_csv(datafile)

/Users/elisalk/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_10011 = df[['Complaint Type', 'Incident Zip']].loc[df["Incident Zip"] == 10011]
df_10011

                              Complaint Type  Incident Zip
441                      Noise - Residential       10011.0
807                           Taxi Complaint       10011.0
938                      Noise - Residential       10011.0
1464                             Taxi Report       10011.0
1561                     Noise - Residential       10011.0
...                                      ...           ...
2585844                   Noise - Helicopter       10011.0
2585845                   Noise - Helicopter       10011.0
2585882                   Noise - Helicopter       10011.0
2586509  NonCompliance with Phased Reopening       10011.0
2586634             Traffic Signal Condition       10011.0

[13674 rows x 2 columns]

### Find Illegal Parking for Zip Code 10011

In [4]:
df_parking_10011 = df_10011.loc[(df['Complaint Type'] == 'Illegal Parking')].count()
df_illegal_parking_10011 = df_parking_10011['Complaint Type']
df_illegal_parking_10011

556

### Find Total Number of Incidents for Zip Code 10011

In [5]:
df_else_10011 = df_10011['Complaint Type'].count()
df_else_10011

13674

### Proportion of Illegal Parking to All Incidents for Zip Code 10011

In [6]:
proportion_10011 = df_illegal_parking_10011 / df_else_10011
proportion_10011

0.040661108673394765

In [7]:
df_all = df[['Complaint Type', 'Incident Zip']]
df_all

         Complaint Type  Incident Zip
0        Food Poisoning       11229.0
1        Food Poisoning       10458.0
2        Food Poisoning       11203.0
3        Food Poisoning       11214.0
4        Food Poisoning       11385.0
...                 ...           ...
2587311  Food Poisoning       11209.0
2587312  Food Poisoning       11209.0
2587313  Food Poisoning       11103.0
2587314  Food Poisoning       10461.0
2587315  Food Poisoning       10023.0

[2587316 rows x 2 columns]

### Find Illegal Parking for All Zip Codes

In [8]:
df_parking_all = df_all.loc[(df['Complaint Type'] == 'Illegal Parking')].count()
df_illegal_parking_all = df_parking_all['Complaint Type']
df_illegal_parking_all

193721

### Find Total Number of Incidents for All Zip Codes

In [9]:
df_else_all = df_all['Complaint Type'].count()
df_else_all

2587316

### Proportion of Illegal Parking to All Incidents for All Zip Codes

In [10]:
proportion_all = df_illegal_parking_all / df_else_all
proportion_all

0.07487334365033108

In [11]:
higher_parking_proportion = proportion_10011 > proportion_all

higher_parking_proportion

False