In [1]:
import numpy as np
import pandas as pd

In a first Jupyter notebook called Top10.ipynb, analyze what the top 10 causes of calls to 311 are in your chosen ZIP code, and calculate how many total incidents of each of these 10 types there have been in the year 2020. Your answer should be a pandas.Series which you must call top10 (as a Python variable), which should be in descending order by number of incidents, and which contains as its labels the incident type (a string) and as associated values the total number of incidents of this type in 2020.

In [2]:
datafile = "311_Service_Requests_2020.csv"
df = pd.read_csv(datafile)

/Users/elisalk/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df_10011 = df[['Complaint Type', 'Incident Zip']].loc[df["Incident Zip"] == 10011]
df_10011

                              Complaint Type  Incident Zip
441                      Noise - Residential       10011.0
807                           Taxi Complaint       10011.0
938                      Noise - Residential       10011.0
1464                             Taxi Report       10011.0
1561                     Noise - Residential       10011.0
...                                      ...           ...
2585844                   Noise - Helicopter       10011.0
2585845                   Noise - Helicopter       10011.0
2585882                   Noise - Helicopter       10011.0
2586509  NonCompliance with Phased Reopening       10011.0
2586634             Traffic Signal Condition       10011.0

[13674 rows x 2 columns]

In [6]:
top10 = df_10011['Complaint Type'].value_counts()[:10]
top10

Noise - Helicopter                     1506
Noise - Residential                    1475
Noise - Street/Sidewalk                 786
Noise                                   775
Homeless Person Assistance              686
Non-Emergency Police Matter             652
NonCompliance with Phased Reopening     634
Illegal Parking                         556
HEAT/HOT WATER                          440
Street Condition                        398
Name: Complaint Type, dtype: int64